<%- include("../includes/header.ejs", {title: "Update Entry"}); %>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Navigation</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/studio/all">Studios</a></li>
                <li><a href="/game/all">Games</a></li>
                <li><a href="/critic/all">Critics</a></li>
                <li><a href="/publisher/all">Publishers</a></li>
            </ul>
        </div>

    </div>
</nav>
<div class="page-header">
    <h1>Update <%= critic.critic_name %></h1>
</div>

<form action="/critic/update" method="get">
    <input type="hidden" id="critic_name" name="critic_name" value="<%= critic.critic_name %>">
    First Name: <input id="critic_name" name="critic_name" type="text" value="<%= critic.critic_name%>"/>
    <input type="submit" />

</form>
<br/>
<a href="/critic/all"><< BACK</a>
<%- include("../includes/footer.ejs"); %>

</html>