<%- include("../includes/header.ejs", {title:"Add New Critic"}); %>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Navigation</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
            <ul class="nav navbar-nav">
                <<li><a href="/">Home</a></li>
                <li><a href="/studio/all">Studios</a></li>
                <li><a href="/game/all">Games</a></li>
                <li><a href="/critic/all">Critics</a></li>
                <li><a href="/publisher/all">Publishers</a></li>
            </ul>
        </div>

    </div>
</nav>

    <div class="page-header">
        <h1>Add New Critic</h1>
    </div>

    <form action="/critic/insert" method="get">
        First Name: <input id="critic_name" name="critic_name" type="text" />

    </form>
<br/>
<a href="/critic/all"><< BACK</a>
<%- include("../includes/footer.ejs"); %>