<%- include("../includes/header.ejs", {title:"Critics - View All"}); %>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Navigation</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/studio/All">Studios</a></li>
                <li><a href="/game/All">Games</a></li>
                <li><a href="/critic/all">Critics</a></li>
                <li><a href="/publisher/all">Publishers</a></li>
            </ul>
        </div>

    </div>
</nav>
<div class="page-header">
    <h1>All Critics</h1>
</div>
<ul>
    <li>Name: <%= result[0].critic_name %></li>
    <li>Name: <%= result[1].critic_name %></li>

    </li>
</ul>
<a href="/critic/add">Add New Critics</a> <br />
<br/>
<% if(locals.was_successful) { %>
<div class="col-md-12">
    <div id="message" class="alert alert-success col-md-4">
         Success! You saved <%= result[result.length-1].critic_name %>  as a new critic.%>
    </div>
</div>
<% }%>

<%- include("../includes/footer.ejs"); %>