<%- include("./includes/header.ejs", {title:"About - Bucko Gaming"}); %>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Quick Access</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/studio/all">Studios</a></li>
                <li><a href="/publisher/all">Publishers</a></li>
                <li><a href="/game/all">Games</a></li>
                <li><a href="/critic/all">Critics</a></li>
            </ul>
        </div>

    </div>
</nav>

<div class="page-header">
    <h1>About</h1>
</div>

<div> This website provides information on video games, and video game related things..</div>
<div>People love games, and I love making websites about them</div>
        <br />
<a href="/images/er_diagram.png"> Entity Relationship Diagram </a>
<br/>
<a href="/images/relational_schema.png"> Relational Schema </a>
<br/>
<br />

<div> Company Name: Bucko Gaming </div>
<div> Created in part by Colin Dutra. </div>
<br/>
<a href="/"> << BACK</a>
<%- include("./includes/footer.ejs"); %>