<%- include("./includes/header.ejs", {title: "Home"}); %>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Navigation</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/publisher/all">Publishers</a></li>
                <li><a href="/game/all">Games</a></li>
                <li><a href="/studio/all">Studio</a></li>
                <li><a href="/critic/all">Critic</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </div>

    </div>
</nav>

    <div class="page-header">
        <h1>Welcome to the Bucko Game Database!</h1>
    </div>



<%- include("./includes/footer.ejs"); %>
