<%- include("../includes/header.ejs", {title:"games - View All"}); %>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Navigation</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/studio/all">Studios</a></li>
                <li><a href="/game/all">Games</a></li>
                <li><a href="/critic/all">Critics</a></li>
                <li><a href="/publisher/all">Publishers</a></li>
            </ul>
        </div>

    </div>
</nav>

<div class = "page-header">
    <h1>All games</h1>
</div>

<a href="/game/add">Add New game</a> <br />

<br />

<% if(locals.was_successful) { %>
<div class="col-md-12">
    <div id="message" class="alert alert-success col-md-4">
        Success! game: <%= result[result.length-1].game_title %> was saved.%>
    </div>
</div>
<% }%>

<table class="table table-striped">
    <thead>
    <tr><th>Name</th><th>Actions</th></tr>
    </thead>
    <tbody>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><a href="/game/?game_title=<%= result[i].game_title %>"><%= result[i].game_title %></a></td>
        <td>
            <button onclick="event.preventDefault();window.location.href='/game/edit/?game_title=<%= result[i].game_title %>'">Edit</button>
        </td>
    </tr>
    <% } %>
    </tbody>

</table>

<a href="/"><< BACK</a>
<%- include("../includes/footer.ejs"); %>